/* ----------------------------- */
/* ==reset */
/* ----------------------------- */

/* base font-size corresponds to 10px and is adapted to rem unit */
html {
		font-size: 62.5%;
}
body {
	background-image:url(images/lemons_backround2.jpg);
 font-family: "Century Gothic", helvetica, arial, sans-serif;
		font-size: 1.3em; 
		line-height: 1.5; 
}
/*body {
		background-color: #fff;
		color: #000;
		font-family: "Century Gothic", helvetica, arial, sans-serif;
		font-size: 1.3em;  equiv 14px 
		line-height: 1.5; adapt to your design 
		background-image:url(images/lemons_backround.png);
}
*/

/* font-sizing for content */
/** { margin: 0; 
	padding: 0; }*/
th {
	
		
		border: 1px solid white;
		border-radius: 4px;
		text-align: center;
		margin: 20px 30px;
	height: 15px;

	
}
table{
        border-collapse: collapse;     
		border: 1px solid white;
		border-radius: 4px;
		text-align: center;
		margin: 15;
		 color:white;
	      background:url("images/tables_back.jpg");
		/*border-color:white;*/

}
td{
          
		border: 1px solid white;
		border-radius: 4px;
		text-align: center;
		margin: 20px 30px;
	height: 20px;
min-width: 100px ; 
		 
}
tr:hover {
          background-color: #888888;}
fieldset{ 
		  padding: 5px; 
		  margin: 20px 30px;  
		  border:2px solid white;
    	 -moz-border-radius:8px;
         -webkit-border-radius:8px;	
          border-radius:8px;
			color:white;
background-image:url("images/tables_back.jpg");
		    }
span{     
		  font-family: "Century Gothic", helvetica, arial, sans-serif;
		font-size: 1.3em; 
		line-height: 1.5; 
		  width: 50px;
		  height:20px;
	      padding: 3px;
  		  margin: 5px;
		  border-width:1px;
		  border-style:dotted;
		  border-color:black;
		  display: inline-table;
		  vertical-align: middle;}
label{
vertical-align: middle;
}
#label2{
		width: 100px;
		  height:20px;
	      padding: 5px;
  		  margin: 10px 0;
		  border-width:1px;
		  border-style:dotted;
		  border-color:black;
		  display: inline-table;  
		}
#text_input, #Latitude_input, #Longitude_input, #prix_input{
		  width: 50px;
}
#buy_stand{
		  background-color: white;  
		  border:1px solid black;
    	 -moz-border-radius:8px;
         -webkit-border-radius:8px;	
          border-radius:8px;
		 
}
#buy_stand_contents{
		  margin: 8px 10px;
}
.entete{
     width: 100%;
    font-size: 12px;
    overflow: hidden; /* contain floated elements */
	color:white;
	background-image:url("images/tables_back.jpg");
		border-color:white;	}
#elements{
		   float: left; 
    		width: 20%; 
		

}
#totalbudget{
		float: left;
		 width: 25%;
		border:1px solid white;
    	 -moz-border-radius:8px;
         -webkit-border-radius:8px;	
          border-radius:8px;
		    padding: 5px; 
border-color:white;
}
#reset{
		 float: left;
    	 width: 25%;

}
#centerheader{
		border:1px solid white;
    	 -moz-border-radius:8px;
         -webkit-border-radius:8px;	
          border-radius:8px;
		  padding: 5px; 
		  margin: 5px 5px;
}
#weather{
		float: right;
    width: 25%;
			border:1px solid white;
    	 -moz-border-radius:8px;
         -webkit-border-radius:8px;	
          border-radius:8px;
padding: 5px; 
		  margin: 5px 5px;

}
#start_game{
		  width: auto;
		   margin: 1px 6px;
border:1px solid white;
    	 -moz-border-radius:8px;
         -webkit-border-radius:8px;	
          border-radius:8px;
padding: 5px; 
		  margin: 5px 5px;
} 

#today_weather_img , #tomorrow_weather_img{
		  height: 40px;
       	  width: 40px;
			
}
#input_table{
		  width: auto;
		  height: 60px;
}
#td_table{
		width: 40px;
}

/********************/
#map_table{
		display: flex;
 		margin: 20px 30px;
		}
#mapdiv{
	 		 display: flex;
			 width: 70%;
float:left;
		}
		#th_table_infos{
			width:50%;
		}
		#today_table{
		width: 200px;
		}
		#map{
		background-color: white;
		float:left;
		overflow: hidden; 
		height: 300px;
        width:700px ;
		margin-left:70px;
}	
#table_informations{
			 flex: 1;
			  width: 45%;
	}	
		#actionstable{
		 width: 100%;
		}	
/********************/
#info_actions_joueur {
	 display: flex;
 margin: 10px 30px;
width:auto;

}


#ingredients{
		  width: 300px;      
    	  overflow: hidden; 
		  border: 1px solid black;		  
		  -moz-border-radius:8px;
          -webkit-border-radius:8px;	
          border-radius:8px;
		  display: flex; 		  
		  margin:1px 1px;
}
#actions{
 		  width: 100%;
	      float:left; /* add this */ 
		  padding: 6px;
		  color:white;
	      background:url("images/tables_back.jpg");
		/*border-color:white;*/
         
}
#action_creer_recette{

 width: 100%;
}
#budget{
    	  overflow: hidden;		  
		  width: 40%;		 
		  padding: 6px;
}
/*********************/
#checkbox1{
  		  vertical-align: middle;
		  position: relative;
		  bottom: 1px;
}
#label1{
		  display: block;
		  float: left;
		  padding-right: 10px;
		  padding-left: 22px;
		  text-indent: -22px;
}
#legend_img{
		  width:20px;
			height:20px;
}
#legend {
        background: #FFF;
        padding: 10px;
        margin: 5px;
        font-size: 12px;
        font-family: Arial, sans-serif;
      }

input[type='submit'], button { 
		  padding: 4px; 
		  margin: 8px 30px; 
		  border: 1px solid black;
		  border-radius: 4px;}
input{ 	
		  width:auto;
	      margin: 5px 20px;
		  max-width: 100px ; 
		}
#tomorrow_input{
		  padding: 4px; 
		  margin: 5px 10px; 
		  border: 1px solid black; 
		  border-radius: 4px;
}
/* avoid margins on nested elements */
li p,
li ul,
li ol {
		 margin-top: 0;
		 margin-bottom: 0;
}
/* max values 
img, table, td, blockquote, code, pre, textarea, input, video {
	max-width: 100%;
}*/
/* pictures */
img {
		width: auto;
		height: auto;
		vertical-align: middle;
}
a img { border: 0; }

